body {
	background-image: url("http://www.codingthelaw.org/images/books.jpg");
	background-color: #fff;
	background-repeat: repeat-x;		
	background-position: top -5px center;
	font-family: georgia, 'times new roman', times, serif;
	font-size: 16px;
	line-height: 22px;
}
	
div.prize { 
	float: right; 
	margin: -5px 2px 10px 2px; 
	padding:5px 8px;
	border-radius: 10px; 
	text-align: center; 
	text-decoration:heavy;
	border: 1px solid #bbb;
	background: #ccffcc;
}

div.food { 
	float: right; 
	margin: -5px 2px 10px 2px; 
	padding:5px 8px;
	border-radius: 10px; 
	text-align: center; 
	text-decoration:heavy;
	border: 1px solid #bbb;
	background: #ffffcc;
}

.details {
	font-size: 14px;
	line-height: 18px;
	color:#555;
}

.footer {
	float:left;
	width:100%;
	border-top: solid 1px #555;
	padding:15px 0px 40px 0px;
	font-size: 14px;
	line-height: 18px;
	color:#555;
}

a.foota {
	color:#555;
}


#icon { 
	z-index:2;
	margin:75px auto 14px auto;
	border-radius: 20px;
	width:110px; 
	height:100px; 
	text-align: center; 
	border: 3px solid #fff;
	background-color: #000;
	font-family: 'Courier New', Courier, monospace;
	font-size:18px;
	line-height:98px;
	color:#00ff00;
}

.add { 
	float:left;
	text-align:center;
	width:100%; 
	padding:10px 0;
	background:#eee;
}

#past { 
	float:left;
	border-top: solid 1px #555;
	width:100%; 
	margin:20px 0 0 0;
}

a.event {
	color:black;
	font-size: 18px;
	line-height: 25px;
}

a.visit {
	font-variant: small-caps;
	color:red;
	font-size: 18px;
	line-height: 25px;
}

.title { 
	font-size: 36px;
	text-align:center;
	width:100%; 
	font-variant: small-caps;
}